<h1>Burgers!</h1>

<h2>Burgers that are not devoured!</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=1}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=0}}
    {{/if}}
  {{/each}}
</ul>

